body {
    margin: 0;
    padding: 0;
    /* background-color: rgb(228, 228, 231); */
    /* min-height: 2000px; */
    background: linear-gradient(#feffff51,#0000006b);
    margin: 2em;
    border: 5px solid #0b385f;
    color: #000059;

    min-height: 100vh;
}

a {
    color: #000059;

}

* {
    box-sizing: border-box;
    word-break: break-word;
}

.header {
    background-color:azure;
    border-bottom: 2px solid black;
    height: 200px; 
    display: flex;
    align-items: center;
   }





.button_header {
    background: linear-gradient(#adffff51,#02381c6b);
    color: rgba(1, 1, 1, 0.937);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    
   
 
}


.logo {
    display: block;
    margin: 0 auto;
    
}
.title {
    background: linear-gradient(#cff9f951,#55e3826b);
    height: 500px;;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-top: 2px solid black;
}
.title h1 {
   font-size: 60px;
   margin-right: 10px;
   margin-top: 0px;
    
}
.title h3 {
    font-size: 30px;
    margin-right: 10px;
    margin-top: 0px;
     
 }

.footer {
    background-color:rgb(111, 189, 161);
    height: 115px;
    
    border: 3px solid rgb(0, 80, 60);
}

p {
    font-size: 36px;
    font-weight: 500;
    
}
ol {
    font-size: 36px;
    font-weight: 500;
}
.slide {
    padding: 10%;
}

.slide__title {
    font-size: 50px;    
    text-align: center;
}

.slide__back-navigation {
    font-size: 24px;
    padding: 8px;
    border-radius: 4px;
    background-color: #0b385f;
    border: none;
    color: white;
    margin: 8px;
}

.image-center {
    margin: 0 auto;
    display: block;
}

.description__with__image {
    display: flex;
    justify-content: space-around;
}

h1{
    background-color: #97c1cc;
  
}

h1 {
    font-size: 50px;
    border: 2px solid rgb(11, 0, 80);
}


.text-border {
    border: 2px solid rgb(11, 0, 80);
    padding: 2px;
    margin-bottom: 6px;
    display: block;
}